In [ ]:
from datetime import datetime
from datetime import timedelta

✅**Задание 1**

Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
The Moscow Times — Wednesday, October 2, 2002
The Guardian — Friday, 11.10.13
Daily News — Thursday, 18 August 1977

In [ ]:

date_The_Moscow_Times = 'Wednesday, October 2, 2002'
date_The_Guardian = 'Friday, 11.10.13'
date_Daily_News = 'Thursday, 18 August 1977'

print(datetime.strptime(date_The_Moscow_Times, '%A, %B %d, %Y'))
print(datetime.strptime(date_The_Guardian, '%A,  %d.%m.%y'))
print(datetime.strptime(date_Daily_News, '%A, %d %B %Y'))

2002-10-02 00:00:00
2013-10-11 00:00:00
1977-08-18 00:00:00

✅ **Задание 2**

Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
 stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. То есть для каждой даты возвращает True — дата корректна или False — некорректная.

In [ ]:
# для проверки каждой даты
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

def date_parse(date):
  try:
    valid_date = datetime.strptime(el, '%Y-%m-%d')
    return True
  except:
    return False

for el in stream:
  print(el, date_parse(el))

2018-04-02 True
2018-02-29 False
2018-19-02 False

In [ ]:
# для проверки потока
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

def date_parse(list_date):
  for date in list_date:
    try:
      valid_date = datetime.strptime(date, '%Y-%m-%d')
      print(True)
    except:
      print(False)
date_parse(stream)

True
False
False

✅ **Задание 3**

Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [ ]:
# не поняла смысл фразы "пустой список", поэтому два решения.
# Первое для вывода дат в столбик (списком же)
# Второе через list
start = input('Введите дату начала списка дат в формате ГГГГ-ММ-ДД  ')
end = input('Введите дату конца списка дат в формате ГГГГ-ММ-ДД  ')

def date_range(start, end):

  """
  Функция возвращает список дат между двумя заданными датами или пустой
  список в случае неверного формата или start_date > end_date.
  """

  try:
    start_date = datetime.strptime(start, '%Y-%m-%d')   # Пытаемся переводить дату в формат, если ошибка, отработает except
    end_date = datetime.strptime(end, '%Y-%m-%d')
    if start_date <= end_date:     # если дата начала <= дате конца,
      date_ = start_date     # положим дату начала в новую переменную

      print(date_.strftime('%Y-%m-%d') )
      while date_ <= end_date:     #  пока новая дата <= дате конца
        print(date_.strftime('%Y-%m-%d'))     # печатаем новую переменную
        date_ += timedelta(days=1)     # добавляем 1 день к новой переменной
    else:
      print('Указан не верный промежуток')
  except:
    print('Даты указаны не корректно')

date_range(start, end)

Введите дату начала списка дат в формате ГГГГ-ММ-ДД  2020-01-01
Введите дату конца списка дат в формате ГГГГ-ММ-ДД  2020-01-05
2020-01-01
2020-01-01
2020-01-02
2020-01-03
2020-01-04
2020-01-05

In [ ]:
start = input('Введите дату начала списка дат в формате ГГГГ-ММ-ДД  ')
end = input('Введите дату конца списка дат в формате ГГГГ-ММ-ДД  ')

def date_range(start, end):
  """
  Функция возвращает список дат между двумя заданными датами или пустой
  список в случае неверного формата или start_date > end_date.
  """
  list_of_date = []     # Заведем список
  try:
    start_date = datetime.strptime(start, '%Y-%m-%d')     # Пытаемся переводить дату в формат, если ошибка, отработает except
    end_date = datetime.strptime(end, '%Y-%m-%d')
    if start_date <= end_date:     # если дата начала <= дате конца,
      date_ = start_date     # положим дату начала в новую переменную
      while date_ <= end_date:      #  пока новая переменная <= дате конца
        list_of_date.append(date_.strftime('%Y-%m-%d'))     # добавляем в список новую переменную
        date_ += timedelta(days=1)     # добавляем 1 день к новой переменной
      print(*list_of_date, sep = '\n')     # печатаем список
  except:
    print(*list_of_date)

date_range(start, end)

Введите дату начала списка дат в формате ГГГГ-ММ-ДД  2020-01-01
Введите дату конца списка дат в формате ГГГГ-ММ-ДД  2020-01-05
2020-01-01
2020-01-02
2020-01-03
2020-01-04
2020-01-05

✅ **Задание 4 (необязательное)**

Ваш коллега прислал код функции:

DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=[‘A100’, ‘A101’, ‘A102’]):
""“
Удаляет из списка default_list последнего пользователя
и возвращает ID нового последнего пользователя.
”""
element_to_delete = default_list[-1]
default_list.remove(element_to_delete)

1
return default_list[DEFAULT_USER_COUNT-2]
При однократном вызове этой функции всё работает корректно:
delete_and_return_last_user(1)
‘A101’

Однако при повторном вызове получается ошибка IndexError: list index out of range.

Задание:

Что значит ошибка list index out of range?
Почему при первом запуске функция работает корректно, а при втором — нет?

In [ ]:
DEFAULT_USER_COUNT = 3
def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
    """"" Удаляет из списка default_list последнего пользователя и возвращает ID нового последнего пользователя. """
    element_to_delete = default_list[-1]
    default_list.remove(element_to_delete)
    return default_list[DEFAULT_USER_COUNT-2]

delete_and_return_last_user(1)

'A101'

In [ ]:
delete_and_return_last_user(1)

IndexError: ignored

Данная ошибка означает, что элемента с таким индексом не существует. Функция в первый проход удаляет элемент с индексом 2 (или -1 с конца) и возвращает элемент с индексом 1 (он стал последним). Во второй проход она удаляет элемент с индексом 1 и не может вывести элемент с индексом 1, потому что его нет, остался один элемент с индексом 0.
В последней строке необходимо изменить
*return default_list[DEFAULT_USER_COUNT-2]*   на   *return default_list[-1]*

In [ ]:
DEFAULT_USER_COUNT = 3
def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
    """"" Удаляет из списка default_list последнего пользователя и возвращает ID нового последнего пользователя. """
    element_to_delete = default_list[-1]
    default_list.remove(element_to_delete)
    return default_list[-1]

delete_and_return_last_user(1)

'A101'

In [ ]:
delete_and_return_last_user(1)

'A100'